*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgba(255, 255, 255, 1) !important;
}
.btn{
    background-color: #4caf4f !important;
    border: none;
    outline: none;
    color: white !important;
}
.btn:hover{
    background-color: rgb(222, 222, 222) !important;
    color: #4caf4f !important;
    outline: none;
}
.main-container{
    background-color: #f5f7fa !important;
}
.span-head{
    color: #4caf4f !important;
}
.icons{
   display: flex !important;
   justify-content: space-between !important;
   gap: 10vh !important; 
}
h1, h2, h3, h4, h5, h6{
    color: #4e4e4e !important;
}
.card-heading{
    color: #4e4e4e !important;
}
.card{
    box-shadow: 0px 10px 19px -1px rgba(170,160,160,0.75);;
}
.last-heading{
    color: rgba(38, 50, 56, 1) !important;
    font-size: 50px !important;
    font-weight: 500 !important;
}
.footer-bg{
    background-color: #263238;
}
section{
    color: white !important;
}
section h4 , h6{
    color: white !important;
}
section p{
    color: #bfbfbf;
}
input{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #515b60;
}
.inputImg{
    position: absolute;
    padding-top: 15px;
    margin-right: 300px !important;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.636);
}